{%  extends 'base.html' %}
{% block title %} Modifica Atleta{% endblock %}

{% block content %}

    {%  if user.is_authenticated %}
<ul>
<h1> Modifica Atleta</h1>
<br><br>
    <div class="form-group">
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token  %}<!-- per proteggere dagli hacker -->

            {{  form.as_p }} <!-- creo un form da django in automatico. ogni campo del form sarà un p -->
            <button  class="btn btn-primary">Aggiorna</button>

        </form>
    </div>
</ul>

{% endif %}
{% endblock %}